*{
	margin: 0;
	padding: 10;
	box-sizing: border-box;
}

body {
  background: #fff;
  color: #666666;
  font-family: "Open Sans", sans-serif;
  overflow-x: hidden;
}


#contenedor{
	background-color: #202020;
	color: #ffffff;
	padding: 10px;
}

#cabeceraimg{
	display: inline-block;
	width: 15%;
	
}
#cabeceraimg img{
	width: 100%;
}
#cabecera{
	width: 70%;
	display: inline-block;
	vertical-align: middle;
}
.nav-bar{
	background: #2874A6;
	display: block;
	color: #FFFFFF;
	padding: 20px;
	cursor: pointer;
	font-size: 1.8em;
	width: 100%;
}

.menu .submenu{
	list-style: none;
	padding: 0;
	margin: 0;
}

.menu {
	padding: 0;
	/*background: #555;*/
	width: 100%;
	margin-left: -100%;
	transition: all 0.5s;
}

#html, #latex, #web, #tit1, #tit2, #tit3, #tit4, #tit5{ 
	font-size: 1em;
	background-color: #85C1E9;
	padding: 15px;
	padding-left: 40px;
}
#tit1, #tit2, #tit3, #tit4, #tit5{ 
	font-size: 1em;
	background-color: #7DCEA0;
	padding: 15px;
	padding-left: 40px;
}
.menu__link{
	list-style: none;
	display: block;
	padding: 10px;
	color: #ffffff;
	font-size: 0.8em;
	text-decoration: none;
}

.menu__link: hover{
	background: #666;
}

.submenu .menu__link: hover{
	background: #666;
	display: block;
}

.submenu{
	height: 0;
	overflow: hidden;
	transition: all 0.3s;
}

.submenu .menu__link{
	background: #444;
	padding-left: 60px;
}

.mostrar{
	margin-left: 0;
}